@import '../../stylesheets/main.scss';

.playlist {
  @include content-align;
  height: 100vh;
  color: $white-primary-1;
  position: relative;

  .header {
    display: flex;

    .title {
      align-self: flex-end;
      font-size: $header-font-size-tertiary;
      color: $white-primary-1;
      margin-top: 10px;
    }
  
    .icon {
      width: 60px;
      height: 60px;
      color: lightgreen;
      stroke-width: 5px;
      z-index: 1000;
      margin-left: 15px;
      transition: .2s ease-in;

      &.hidden {
        // opacity: 0;
      }

      &:hover {
        cursor: pointer;
        outline: none;
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      }

      &:active, &:focus {
        outline: none;
        transform: translateY(-0.1rem);
      }
    }
  }


  .content {
    width: 85%;
    height: 45%;
    margin-left: $content-margin-left-1;
    display: flex;
    flex-direction: column;

    .content-inner {
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in;

      .hidden {
        opacity: 0;
      }

      .track-box {
        margin-top: 40px;
      }

      .track-playlist {
        border: 1px solid black;
        width: 40%;
        height: 350px;
        position: relative;
      }
    }
  }
}