$white-primary-1: #D9DAD9;
$gray-primary-1: #3F4847;

$primary-color: rgba(187, 41, 78, 1);
$secondary-color: rgba(133, 33, 81, 1);

$font-size-primary: 21px;
$font-size-secondary: 32px;

$header-font-size-primary: 72px;
$header-font-size-secondary: 54px;
$header-font-size-tertiary: 42px;

$content-margin-left-1: 200px;

$main-font: 'Montserrat', sans-serif;