$white-primary-1: #D9DAD9;
$gray-primary-1: #3F4847;

$font-size-primary: 21px;
$font-size-secondary: 32px;

$header-font-size-primary: 72px;
$header-font-size-secondary: 54px;

$content-margin-left-1: 200px;