@import '../../stylesheets/main.scss';

.contact {
  @include content-align;
  height: 100vh;
  color: $white-primary-1;

  h1 {
    font-size: $header-font-size-tertiary;
    color: $white-primary-1;
  }

  .content {
    width: 40%;
    height: 55%;
    margin-left: $content-margin-left-1;

    .content-inner {
      width: 100%;
      line-height: 1.5;
      color: white;

      > * {
        padding: 15px 0px 5px 0; 
        font-size: 18px;
        // font-weight: 500;
      }
    }
  }
}