@import '../../stylesheets/main.scss';

.contact {
  @include content-align;
  height: 100vh;
  color: $white-primary-1;

  h1 {
    font-size: $header-font-size-secondary;
    color: $white-primary-1;
  }

  .content {
    width: 40%;
    height: 55%;
    margin-left: $content-margin-left-1;

    > * {
      padding: 2.5px;
    }
  }
}