@import '../../stylesheets//variables.scss';

.nav {
  position: absolute;
  top: 80px;
  left: 0;
  font-size: $font-size-primary;
  width: 45%;
  display: flex;
  justify-content: center;
  z-index: 10;

  a {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    transition: .2s ease-in;

    &:hover {
      cursor: pointer; 
      outline: none;
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
    
    &:active, &:focus {
      outline: none;
      transform: translateY(-0.1rem);
    }
  }

  .active {
    color: $white-primary-1;
  }


  :not(.active) {
    color: $gray-primary-1;
  }
}