@import '../../stylesheets/main.scss';

.home {
  @include content-align;
  height: 100vh;
  color:$white-primary-1;
  // margin-left: $content-margin-left-1;

  .content {
    height: 45%;
    margin-left: $content-margin-left-1;

    > * {
      padding: 2.5px;
    }
  
    .header-1 {
      color: $white-primary-1;
      font-size: $header-font-size-primary;
    }
  
    .header-2 {
      color: $white-primary-1;
      font-size: $header-font-size-secondary;
    }
  
    .header-3 {
      color: $white-primary-1;
      font-size: $header-font-size-secondary;
    }
  
    .header-4 {
      color: $white-primary-1;
      font-size: $header-font-size-secondary;
    }

  }

}
