.home {
  display: flex;
  height: 100vh;
  background-color: #010206;
  
  .main-section {
    min-width: 100%;
    // background-image: linear-gradient(to left top, rgba(1, 2, 6, 1) ,rgba(12, 34, 101, .8)), url(../../images/neon-background.jpeg);
    background-image: linear-gradient(to left top, rgba(12, 34, 101, 0.05) 5%, rgba(1, 2, 6, 1) 90%), url(../../images/neon-background.jpeg);
    
    // background-image: linear-gradient(to left, rgba(12, 34, 101, 1), rgba(1, 2, 6, 1)), url(../../images/background2.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .headers {
      width: 60%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;

      .header-1 {
        color: white;
        font-size: 62px;
      }
  
      .header-2 {
        color: white;
        font-size: 48px;
      }

      .header-3 {
        color: white;
        font-size: 48px;
      }

      button {
        // position: absolute;
        background: linear-gradient(to right, rgba(187, 41, 78, 1), rgba(133, 33, 81, 1));
        // background-color: linear-gradient(to right, #BB294E, #852151);
        font-size: 18px;
        color: white;
        border: double 2px transparent;
        border-radius: 16px;
        background-origin: border-box;
        background-clip: content-box, border-box;
        width: 175px;
        height: 55px;
  
        &:hover {
          cursor: pointer;
        }
      } 
    }
  }
}
  // .main-section {
