@import '../../stylesheets/main.scss';

.phone-input {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
  }
  
  .alert-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 500px;
    height: 200px;
    margin: 5% auto;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 100;
    background: $white-primary-1;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .alert-box-actions {
    text-align: right;
  }

}