@import '../../stylesheets/main.scss';

.about {
  height: 100vh;
  color: $white-primary-1;
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .content {
    width: 40%;
    height: 45%;
    margin-left: $content-margin-left-1;

    > * {
      padding: 2.5px;
    }
  }
}